body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
 
}




html{
background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url('../img/connectedcity.png');

}




*{
    margin: 20;
    padding:20;
    box-sizing: border-box;
}

 
}


  img{
  position: relative;
  top: -10px;
  display: block;
  width: 10%;
  margin-left: 5px;
  padding: -20px;
  align-items: center;
}
img {

    max-width: 100%; /*Todas as imagens ficam responsivas*/
}





/*
CONTATO
*/
#contato{
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
 #contato input[type=text]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 20px;    
}
 #contato textarea{
    width: 100%;
    padding: 0px 0px 60px 0px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    resize: none;
}
 #contato input[type=submit]{
    background-color:#656668;
    border-radius: 5px;
    border: 2px solid aqua;
    padding: 10px 10px 10px 10px;
    color: solid #000000;


  }
footer {
  border-top: -50px;
    margin-top: 100px;
    text-align: center;
    padding: 40px;
    background-image: url('../img/cisco10.jpg');
    color:#ffffff;ffffff;
}

.local{
    text-align: center;
    padding: 30px;
    position: relative;
}

h6{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
     top: -40px;

}

/*
MEDIA QUERIES
*/

@media(max-width: 1024px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: none;
}

    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 12px;
    }
}



@media(max-width: 720px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: none;
}

    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 12px;
    }
}

@media(max-width: 480px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: none;
}

    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 12px;
    }
}
