
*{
    margin: 0;
    padding: 0;
}

.social {
    display: block;
   align-items: center;
   padding-top: 80px;
}
img {

    max-width: 100%; /*Todas as imagens ficam responsivas*/
}

p{
    max-width: 100%;
}

h2{
    color: aqua;
    text-align: center;
    padding: 0px;

}
.menu{
    width: 100%;
    height: 50px;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url('../img/pergaminho.jpg');

}

.menu ul{
    list-style: none;
    position: relative;

}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color:aqua;
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9)), url('../img/pergaminho.jpg');

}

.menu ul ul {
    position: relative;
    visibility: hidden;

}
.menu ul li:hover ul{
    visibility: visible;

}

.menu a:hover{
    background-color: #aqua;
    color:#ffffff;
    font-size: 15px;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}
.menu ul li ul li a{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9)),
     url('../img/Slayt-Nasıl-Yapılır2.jpg');
}

.menu ul ul li a{
    background-color: aqua;
}

label[for="bt_menu"]{
    padding: -25px;
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9)), 
    url('../img/pergaminho.jpg');
    color: aqua;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}

@media(max-width: 1024px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: block;
}

    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 12px;
    }
}



@media(max-width: 720px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: block;
}

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 10px;
    }
}

@media(max-width: 480px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: block;
    perspective: 1200px;
}

    
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 10px;
    }
    
}
@media(max-width: 368px){
    label[for="bt_menu"]{
    display: block;
}
.menu{
    position:fixed;
}

.content-all{
    display: block;  
    perspective: 1200px;
}

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    p{
        font-size: 10px;
    }
}



.DivTexto{


  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url('../img/istockphoto-.jpg');
}





.Destaque{
    color: black;
    text-align: center;

}


.Destaque 

#destaque{
    max-width: 1024px;
    height: 310px;
    padding: -10px;S
}

    .blocos{
    width: 30.76%;
    height: 320px;
    float: left;
    margin-left: 1.75%;
    border: 1px solid #dedede;
    text-align: center;
    position: relative;
    background-color: #b5c1cc;

}

.blocos p{
    padding: 0px 20px 0px 20px;
    text-align: left;
}

.blocos a{
    width: 100px;
    padding: 10px 0px 10px 0px;
    display: block;
    background-color: #1e73be;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.875em;
    position: absolute;
    right: 0px;
    bottom: 0px;

}
.content-carrousel{
    position: relative;
    margin-top: -100px;
    }


.content-all{
    position: absolute;
    width: 200px;
    margin: auto;
    perspective: 1600px;
    position: relative;
    margin-top: 20px;
}

.content-carrousel{
    width: 100%;
    position: fixed;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: fixed;
    box-shadow: 0px 0px 10px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}


.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
footer {
    margin-top: -10px;
    text-align: center;
    padding: 10px;
     background-image: url('../img/connectedcity.png');
    color:#fff000;
}
 .Mobile{
 	display:none;
 }
 .Fixar{
    position: fixed;
    top: 0;
    z-index: 3;
    top: 0;
}

 .Mobile{
        display: none;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
    }




}


 
@media(max-width: 720px){
    
    
    /*Menu Hamburgue*/
    .menu{
        display: block;
        background-color: #000616;
        color: #ffffff;
        text-decoration: none;
        padding: 15px;
    }
   
.blocos{
    width: 100%;
    height: 320px;
   float: none;
    margin: 0;
    margin-bottom: 20px;
}

  

